<h1>VR Experience</h1>

<!-- <%= javascript_pack_tag 'index' %>  -->


<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>

<a-scene>
<a-box width="1" height="1" depth="1" color="#4CC3D9 " material="color:#59aa4a ;normalScale:{&quot;x&quot;:1,&quot;y&quot;:1}" geometry="mergeTo:null;height:0.1" id="grass"></a-box>


<a-box width="1" height="1" depth="1" color="#4CC3D9 " material="color:#59aa4a ;normalScale:{&quot;x&quot;:1,&quot;y&quot;:1}" geometry="mergeTo:null;height:0.1" id="grass"></a-box>

</a-scene>
